<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Brittany</a> a web developer student who has a passion for brilliant author, journalist, and activist, Hunter S Thompson.
  </p>
  <br />
  <p>
    Studying at the Firehose Project in Denver, Colorado.
  </p>
  <p>
    If you want to learn more about her, visit <a target="_blank" href="http://brittanyrodriguez.getforge.io/"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'brittany.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brittany Rodriguez</h2>
      <br />
      <p>
        Brittany Rodriguez is a web developer student at Firehose Project. As a native of Denver, Colorado, she works in the service industry as a bartender. She now persues her dream of building a real career in full stack web development.
      </p>
    </div>
  </div>

<br class="clear" />
<br />
<br />
<br />
<br /> 

</div>